.cci-m-top { 
  margin-top: 10px; 
}

.cci-center-block {
	float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .cci-mission {
 	margin: 50px auto;
 }

.cci-link a {
	text-decoration: none;
}


.col-md-6 {
	position: relative;
}

.col-md-6  .fa-search {
	position: absolute;
	top: 10px;
	right: 20px;
}
.cci-lists {
	margin: 10px 0;
}

.cci-lists li a {
	padding-top: 0;
}

.cci-lists li a:hover {
	background: none;
	color: lightblue;
}

.cci-link p a {
	font-weight: bold;
	font-size: 22px;
}

.cci-link p a:hover {
	color: green;
}

.cci-spacing h5 {
	margin-left: -12px;
	margin-top: 8px;
}

.fa.fa-facebook, .fa.fa-twitter, .fa.fa-linkedin, .fa.fa-google-plus, .fa.fa-pinteres, .fa.fa-pinterest, .fa.fa-youtube, .fa.fa-envelope {
	width: 100%;
	font-size: 20px;
	color: white;
	border-radius: 20%;
	background: #585858;
}

.cci-brand-icons ul li { display: inline-block; margin-bottom: 5px; }
.cci-brand-icons a.fa-twitter:hover { background: #58ADEA; }
.cci-brand-icons a.fa-facebook:hover { background: #3A5795; }
.cci-brand-icons a.fa-linkedin:hover { background: #00669B; }
.cci-brand-icons a.fa-google-plus:hover { background:#DC4A3D;}
.cci-brand-icons a.fa-pinterest:hover { background:#BC2025;}
.cci-brand-icons a.fa-youtube:hover { background:#E62117;}
.cci-brand-icons a.fa-envelope:hover { background: #0071C5;}
header.carousel { height: 60%; }
.carousel-caption { background-color: rgba(0, 0, 0, 0.5); color: #fff; position: absolute; left: 0; right: 75%; bottom: auto; height: auto; text-align: left; top: 70%; padding: 10px 15px; font-size: 12px; }

/*===== dropdown hover based menu =====*/

.dropdown li a:hover {
	color: red;
}

.dropdown li:hover .dropdown-menu {
	visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-submenu .dropdown-menu {
	visibility: hidden;
}
/*dropdown submenu hover based*/

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
    left: 99%;
    right: 45%;
    width: 140%;
    margin-top: -6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.CCI-dropdownleft:last-child>.dropdown-menu {
	top: 0;
	left: -139%;
}

/*====back-to-top arrow effect====*/

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 2px;
    color: #000000;
    background-color:#ccc;
  	padding: 5px;
}

.back-to-top:hover {
	text-decoration: none;
}

/*===== Home ======*/
.cci-accuracy-expertise img { 
  height: 180px; 
  width: 300px; 
}

.cci-innovation-text {
  margin: 30px auto;
}

.cci-innovation-text ul {
  margin-left: 20px;
}

.cci-innovation-text ul li {
  font-style: italic;
  margin-top: 5px;
}

/*====About=====*/

.cci-colorhistory {
	margin-top: 0;
	margin-bottom: 20px;
}

/*=====The CCI Difference====*/

.text-color {
	color:#3B81D3;
}
/*====Global Experts====*/

.mapimg {
	width: 90%;
	border: 1px solid black;

}

.carousel-map-img {
	background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 0;
    height: auto;
    text-align: center;
    padding: 15px 10px;
    font-size: 15px;
    width: 83%;
}

.cci-page-title {
	background: #000;
	color: #fff;
}

/*====sustainibility====*/

.cci-img {
	margin:0 auto;
}


.cci-image-size {
	width: 282px;
	height: 211px;

}

/*=====  Footer  ======*/
footer { 
  padding: 50px 0 20px 0;
  margin-bottom: 0;
  background: #EEEEEE;
}

footer .cci-footer {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
}

/*=====  specialized-services  ======*/
.specialized-services form input, .specialized-services form textarea {
  margin: 0;  
}

.specialized-services .contact-form {
  margin-top: 20px;
}

.specialized-services .contact-form .form-group {
  width: 48%;
  float: left;
}

.specialized-services .contact-form .form-group:last-child {
  margin-left: 20px;
}

/* automotive carosuel */
/*.carousel-indicators li {
    height: 70px;
    width: 157px;
}

.carousel-indicators data-slide-to[0] {
   background:url('images/AutomotiveColor/AutomotiveColorToolsandMatches .jpg');
}
.carousel-indicators data-slide-to[1] {
   background: url('images/AutomotiveColor/LuxuryAutomotiveColor.jpg');
}.carousel-indicators data-slide-to[2] {
   background: url('image/fksdjlfds.png');
}.carousel-indicators data-slide-to[3] {
   background: url('image/fksdjlfds.png');
}.carousel-indicators data-slide-to[4] {
   background: url('image/fksdjlfds.png');
}.carousel-indicators data-slide-to[5] {
   background: url('image/fksdjlfds.png');
}.carousel-indicators data-slide-to[6] {
   background: url('image/fksdjlfds.png');
}*/


/*Form Input*/

input,textarea {
	display: inline-block;
	margin: 10px 0;
}



/*=====  Media Queries  ======*/
@media screen and  ( max-width: 991px ) {
	.cci-footer-list {
		border-bottom: 1px solid #eee;
  		text-align: center;
  		margin: 10px 0;
    }
    .cci-footer-list:last-child {
		border: none;
    }
}
@media screen and ( max-width: 768px ) {
	.carousel-caption { right: 0; }
	.cci-brand-icons.pull-right { float: none !important; }
}
