.cci-center-block {
	float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .cci-mission {
 	margin: 50px auto;
 }

.col-md-6 {
	position: relative;
}

.col-md-6  input {
	text-indent: 30px;
}

.col-md-6  .fa-search {
	position: absolute;
	top: 10px;
	right: 20px;
}

.cci-lists li a {
	padding-top: 0;
}

.cci-lists li a:hover {
	background: none;
	color: lightblue;
}

.cci-link p a {
	font-weight: bold;
	font-size: 22px;
}

.cci-link p a:hover {
	color: green;
}

.cci-innovation-text {
	margin: 30px auto;
}

.cci-innovation-text p {
	font-weight: bold;
}

.cci-innovation-text ul {
	margin-left: 20px;
}

.cci-innovation-text ul li {
	margin-top: 5px;
}

.cci-spacing h5 {
	margin-left: -12px;
	margin-top: 8px;
}

.fa.fa-facebook, .fa.fa-twitter, .fa.fa-linkedin, .fa.fa-google-plus, .fa.fa-pinteres, .fa.fa-pinterest, .fa.fa-youtube, .fa.fa-envelope {
	width: 100%;
	font-size: 20px;
	color: white;
	border-radius: 20%;
	background: #585858;
}

.cci-brand-icons ul li { display: inline-block; margin-bottom: 5px; }
.cci-brand-icons a.fa-twitter:hover { background: #58ADEA; }
.cci-brand-icons a.fa-facebook:hover { background: #3A5795; }
.cci-brand-icons a.fa-linkedin:hover { background: #00669B; }
.cci-brand-icons a.fa-google-plus:hover { background:#DC4A3D;}
.cci-brand-icons a.fa-pinterest:hover { background:#BC2025;}
.cci-brand-icons a.fa-youtube:hover { background:#E62117;}
.cci-brand-icons a.fa-envelope:hover { background: #0071C5;}
header.carousel { height: 60%; }
.carousel-caption { background-color: rgba(0, 0, 0, 0.5); color: #fff; position: absolute; left: 0; right: 75%; bottom: auto; height: auto; text-align: left; top: 70%; padding: 10px 15px; font-size: 12px; }

/* dropdown hover based menu*/
.dropdown li a:hover {
	color: red;
}

.dropdown li:hover .dropdown-menu {
	visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-submenu .dropdown-menu {
	visibility: hidden;
}
/*dropdown submenu hover based*/

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
    left: 99%;
    right: 45%;
    width: 140%;
    margin-top: -6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.CCI-dropdownleft:last-child>.dropdown-menu {
	top: 0;
	left: -139%;
}
/*back-to-top arrow effect*/

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 2px;
    color: #000000;
    background-color:#ccc;
  	padding: 5px;
}

.back-to-top:hover {
	text-decoration: none;
}

<<<<<<< HEAD
/*About*/

.cci-colorhistory {
	margin-top: 0;
	margin-bottom: 20px;
=======

/*==== CCI Differnce =====*/
.cci-color h2 {
	 font-weight: bold; 
	 font-size: 45px;
}

.cci-color p { 
	font-size: 18px;
	padding-bottom: 10px; 
	text-align: justify; 
}

.cci-color .text {
	color: rgb(59, 106, 194); 
	font-weight: bold; 
>>>>>>> origin/master
}

.cci-block1 {
	text-align: justify;
	font-size: 17px; 
	margin-left: 20px;
	margin-bottom: 10px;
}

/*=====  Media Queries  ======*/
@media screen and  ( max-width: 991px ) {
	.cci-footer-list {
		border-bottom: 1px solid #eee;
  		text-align: center;
  		margin: 10px 0;
    }
    .cci-footer-list:last-child {
		border: none;
    }
}
@media screen and ( max-width: 768px ) {
	.carousel-caption { right: 0; }
	.cci-brand-icons.pull-right { float: none !important; }
}
